<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="list-group">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class=" list-group-item col">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-thumbnail" width="50" src="<%= posts[i].image%>">

            </a>
          </li>
          <% } %>
      </ul>
    </div>
  </div>
  <%- include('partials/footer') -%>